@import "./normalize.scss";
.ant-layout-has-sider {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
  z-index: 2020;
}
/*滚动条滑块*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  z-index: 2020;
  background: linear-gradient(#e66465, #9198e5, #e66465);
}
/*滚动条轨道*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0,0,0,0);
  border-radius: 10px;
  background: #ccc;
  z-index: 2020;
}


#home {
  .header {
    background-color: aliceblue !important;
  }

  .ant-menu-item {
    border: 0 !important;
  }
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.height100 {
  height: 100%;
}

.height100vh {
  height: 100vh;
}

.padding5 {
  padding: 0 10px;
}